<div class="outer-wrapper" (click)="onOk()">
    <div class="middle-wrapper">
      <!--content-->
      <div class="inner-wrapper">
        <!--header-->
        <div class="header">
          <h3>
            {{ title }}
          </h3>
          <button (click)="onOk()">
              <span>
                  x
              </span>
          </button>
        </div>
        <!-- body -->
        <div class="body">
            <p [innerHTML]="message"></p>
        </div>
        <!--footer-->
        <div class="footer">
          <button class="primary" type="button" (click)="onOk()">
            Okey
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="black-box" (click)="onOk()"></div>
  