<div class="page-header">
    <h1>Releases</h1>
</div>

<app-release-box [artists]="artists" [artwork]="artwork" releaseType="single" [releaseName]="name" [genres]="genres"></app-release-box>
<app-release-box [artists]="artists" [artwork]="artwork" releaseType="single" [releaseName]="name" [genres]="genres"></app-release-box>
<app-release-box [artists]="artists" [artwork]="artwork" releaseType="single" [releaseName]="name" [genres]="genres"></app-release-box>
<app-release-box [artists]="artists" [artwork]="artwork" releaseType="single" [releaseName]="name" [genres]="genres"></app-release-box>
<app-release-box [artists]="artists" [artwork]="artwork" releaseType="single" [releaseName]="name" [genres]="genres"></app-release-box>
<app-release-box [artists]="artists" [artwork]="artwork" releaseType="single" [releaseName]="name" [genres]="genres"></app-release-box>
<app-release-box [artists]="artists" [artwork]="artwork" releaseType="single" [releaseName]="name" [genres]="genres"></app-release-box>
