
.toolbar {
    @apply bg-slate-300 px-4 py-4;

    button {
        @apply bg-slate-400 px-3 py-2 rounded-md text-gray-200;
        font-weight: 600;
        transition: .33s;

        &:hover {
            @apply bg-slate-600;
        }
    }
}

.artist-table {
    margin-top: 0 !important;
    overflow-x: hidden;

    .socialLink-container {
        display: flex;
        justify-content: flex-start;

        a {
            @apply m-3;
        }
    }
}