<div *ngIf="visible" class="outer-wrapper">
  <div class="middle-wrapper">
    <!--content-->
    <div class="inner-wrapper">
      <!--header-->
      <div class="header">
        <h3>
          Add Artist
        </h3>
        <button (click)="toggleVisible">
            <span>
                x
            </span>
        </button>
      </div>
      <!-- body -->
      <div class="body">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatum 
            voluptate, maxime ducimus totam a unde quia facilis quod doloremque, 
            reprehenderit dignissimos animi laborum adipisci cumque laboriosam dolorem. 
            Consequatur, quibusdam!
        </p>
      </div>
      <!--footer-->
      <div class="footer">
        <button class="secondary" type="button" (click)="toggleVisible()">
          Cancel
        </button>
        <button class="primary" type="button" (click)="toggleVisible()">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="visible" class="black-box"></div>
