.outer-wrapper {
    @apply overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex;

    .middle-wrapper {
        @apply relative w-auto my-6 mx-auto;
        max-width: 70%;

        .inner-wrapper {
            @apply border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none;

            .header {
                @apply flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t;

                h3 {
                    font-weight: 300;
                    font-size: 2em;
                }

                button {
                    @apply p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none;

                    span {
                        @apply bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none;
                    }
                }
            }

            .body {

                h1.formHeader {
                    font-size: 1.25em;
                    font-weight: 300;
                    margin-bottom: 1em;
                }

                .grid {
                    width: 100%;
                    height: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(3, 1fr);
                    grid-template-areas: 
                        "image info info"
                        "image info info"
                        "social social social";
                    grid-column-gap: 0px;
                    grid-row-gap: 0px;

                    .imageSection {
                        grid-area: image;
                        @apply px-7;
                        @apply py-5;
                    }

                    .infoSection {
                        grid-area: info;
                        @apply px-7;
                        @apply py-5;
                    }

                    .socialSection {
                        grid-area: social;
                        @apply px-7;
                        @apply py-5;
                    }

                    p {
                        @apply my-4 text-slate-500 text-lg leading-relaxed;
                    }
    
                    .input-element {
                        @apply py-2;
                        display: flex;
                        justify-content: space-between;
    
                        input[type="text"], textarea {
                            @apply border outline-1 outline-slate-700 shadow-md ml-5;
                            border-radius: .33em;
                            flex-grow: 3;
                        }
    
                        textarea {
                            min-height: 10em;  
                            padding: .5em;    
                            resize: none;
                        }
    
                        label {
                            font-weight: 400;
                        }
                    }
                    
                }
            }

            .footer {
                @apply flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b;

                .secondary {
                    @apply text-slate-400 hover:text-slate-500 bg-transparent font-bold px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150;
                }

                .primary {
                    @apply bg-slate-500 text-white active:bg-slate-600 font-bold text-sm px-6 py-3 rounded shadow hover:bg-slate-600 outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150;
                }
            }
        }   
    }
}

.black-box {
    @apply opacity-50 fixed inset-0 z-40 bg-black h-full w-full;
}