.artists {
    display: grid;
    grid-template-columns: repeat(auto-fit, 40em);
    grid-auto-columns: auto;
    justify-content: space-around;
    grid-gap: 2em;

    & > * {
        margin: auto;
    }
}