<div class="page-header">
    <h1>Artists</h1>
</div>

<div class="artists">
    <app-artist-box [artistImage]="artistPicture" [artistName]="artistName" [biography]="biography" [genres]="genres"></app-artist-box>
    <app-artist-box [artistImage]="artistPicture" [artistName]="artistName" [biography]="biography" [genres]="genres"></app-artist-box>
    <app-artist-box [artistImage]="artistPicture" [artistName]="artistName" [biography]="biography" [genres]="genres"></app-artist-box>
    <app-artist-box [artistImage]="artistPicture" [artistName]="artistName" [biography]="biography" [genres]="genres"></app-artist-box>
    <app-artist-box [artistImage]="artistPicture" [artistName]="artistName" [biography]="biography" [genres]="genres"></app-artist-box>
    <app-artist-box [artistImage]="artistPicture" [artistName]="artistName" [biography]="biography" [genres]="genres"></app-artist-box>
    <app-artist-box [artistImage]="artistPicture" [artistName]="artistName" [biography]="biography" [genres]="genres"></app-artist-box>
    <app-artist-box [artistImage]="artistPicture" [artistName]="artistName" [biography]="biography" [genres]="genres"></app-artist-box>
</div>