/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

.page-header {
    @apply bg-gray-200 py-5 px-3 flex justify-center shadow-md;

    h1 {
        font-size: 2em;
        font-weight: 300;
    }
}